<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        td {
            border: 1px solid rgba(0,0,0,0.6);
            text-align: center;
            font-size: small;
            font-family: KoPubWorld_Dotum_Light;
        }
        th {
            background-color: #f2f2f2;
            text-align: center;
            border: 1px solid rgba(0,0,0,0.6);
            font-family: KoPubWorld_Dotum_Light;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <div style="font-size: large">
        <b
                th:text="${entranceYear} + '학년도 대덕소프트웨어마이스터고등학교 입학원서'"
        >
            2024학년도 대덕소프트웨어마이스터고등학교 입학원서
        </b>
    </div>
</div>
<table style="border: none; border-collapse: collapse; width: 100%">
    <tr>
        <td style="border: 1px solid black">
            <table style="border-collapse: collapse; width: 100%; height: 32px;">
                <tr>
                    <th style="width: 11%">접수번호</th>
                    <td style="width: 23.9%" th:text="${receiptCode}"></td>
                    <th style="width: 11%">학교코드</th>
                    <td style="width: 26%" th:text="${schoolCode}"></td>
                    <th style="width: 11%">수험번호</th>
                    <td style="width: 25%; text-align: center">*기재하지 않음</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 0; border-left: 1px solid black; border-right: 1.2px solid black">
            <table
                    style="border-collapse: collapse; margin-top: -1px; width: 100%"
            >
                <tr>
                    <th rowspan="5" style="width: 11.65%">지원자</th>
                    <th style="width: 11.6%; height: 29px">성명</th>
                    <td style="width: 23%" th:text="${userName}"></td>
                    <th style="width: 11.6%">전화번호</th>
                    <td style="width: 23%" th:text="${applicantTel}"></td>
                    <td rowspan="5" style="width: 29%; position: relative">
                        <img
                                src="photo.jpg"
                                style="
                    width: 3.1cm;
                    height: 4.13cm;
                    max-width: 3.1cm;
                    max-height: 4.13cm;
                  "
                                alt="#"
                                th:src="|data:image/*;base64,${base64Image}|"
                        />
                    </td>
                </tr>
                <tr>
                    <th style="height: 29px">생년월일</th>
                    <td th:text="${birthday}"></td>
                    <th>출신지역</th>
                    <td th:text="${schoolRegion}"></td>
                </tr>
                <tr>
                    <th style="height: 29px">성별</th>
                    <td th:text="${gender}"></td>
                    <th>출신학교</th>
                    <td th:text="${schoolName}"></td>
                </tr>
                <tr>
                    <th style="height: 29px">졸업구분</th>
                    <td
                            colspan="3"
                            style="width: 64.5%"
                            th:text="${educationalStatus}"
                    ></td>
                </tr>
                <tr>
                    <th style="height: 43px">주소</th>
                    <td
                            colspan="3"
                            th:text="${address} + ' ' + ${detailAddress}"
                    ></td>
                </tr>
            </table>
            <table
                    style="border-collapse: collapse; margin-top: -1px; width: 100%"
            >
                <tr>
                    <th style="width: 11%; height: 29px">보호자</th>
                    <th style="width: 11%">성명</th>
                    <td style="width: 11%" th:text="${parentName}"></td>
                    <th style="width: 11%">관계</th>
                    <td style="width: 17%" th:text="${parentRelation}"></td>
                    <th style="width: 11%">휴대전화</th>
                    <td style="width: 28%" th:text="${parentTel}"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="border-top: 0; border-bottom: 0">
            <table
                    style="border-collapse: collapse; margin-top: -1px; width: 100%;"
            >
                <tr>
                    <th style="width: 11%; height: 29px">지역</th>
                    <td style="width: 11%" th:text="${region}"></td>
                    <th style="width: 11%">전형유형</th>
                    <td style="width: 28%" th:text="${applicationType}"></td>
                    <th style="width: 11%">특기사항</th>
                    <td style="width: 28%" th:text="${applicationRemark}"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table
                    style="border-collapse: collapse; margin-top: -1px; width: 100%"
            >
                <tr>
                    <th colspan="5" style="height: 29px; width: 72%">
                        교과성적(성취도)
                    </th>
                    <th colspan="2" style="height: 29px; width: 28%">
                        출결 및 봉사활동
                    </th>
                </tr>
                <tr>
                    <th style="width: 11%; height: 29px">교과</th>
                    <th style="width: 15.25%; height: 29px">3학년 2학기</th>
                    <th style="width: 15.25%; height: 29px">3학년 1학기</th>
                    <th style="width: 15.25%; height: 29px">직전학기</th>
                    <th style="width: 15.25%; height: 29px">직전전학기</th>
                    <th style="width: 16%">미인정결석</th>
                    <td style="text-align: right; padding-right: 10px">
                        <span style="margin-right: 5px" th:text="${absenceDayCount}"></span>일
                    </td>
                </tr>
                <tr>
                    <th style="width: 11%; height: 29px">국어</th>
                    <td
                            style="width: 15.25%; height: 29px"
                            th:text="${koreanThirdGradeSecondSemester}"
                    ></td>
                    <td
                            style="width: 15.25%; height: 29px"
                            th:text="${koreanThirdGradeFirstSemester}"
                    ></td>
                    <td
                            style="width: 15.25%; height: 29px"
                            th:text="${koreanSecondGradeSecondSemester}"
                    ></td>
                    <td
                            style="width: 15.25%; height: 29px"
                            th:text="${koreanSecondGradeFirstSemester}"
                    ></td>
                    <th style="width: 16%">미인정지각</th>
                    <td style="text-align: right; padding-right: 10px">
                        <span style="margin-right: 5px" th:text="${latenessCount}"></span>회
                    </td>
                </tr>
                <tr>
                    <th style="width: 11%; height: 29px">사회</th>
                    <td
                            style="width: 15.25%; height: 29px"
                            th:text="${socialThirdGradeSecondSemester}"
                    ></td>
                    <td
                            style="width: 15.25%; height: 29px"
                            th:text="${socialThirdGradeFirstSemester}"
                    ></td>
                    <td
                            style="width: 15.25%; height: 29px"
                            th:text="${socialSecondGradeSecondSemester}"
                    ></td>
                    <td
                            style="width: 15.25%; height: 29px"
                            th:text="${socialSecondGradeFirstSemester}"
                    ></td>
                    <th style="width: 16%">미인정조퇴</th>
                    <td style="text-align: right; padding-right: 10px">
                        <span style="margin-right: 5px" th:text="${earlyLeaveCount}"></span>회
                    </td>
                </tr>
                <tr>
                    <th style="width: 11%; height: 29px">역사</th>
                    <td style="width: 15.25%; height: 29px" th:text="${historyThirdGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${historyThirdGradeFirstSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${historySecondGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${historySecondGradeFirstSemester}"></td>
                    <th style="width: 16%">미인정결과</th>
                    <td style="text-align: right; padding-right: 10px">
                        <span style="margin-right: 5px" th:text="${lectureAbsenceCount}"></span>회
                    </td>
                </tr>
                <tr>
                    <th style="width: 11%; height: 29px">수학</th>
                    <td style="width: 15.25%; height: 29px" th:text="${mathThirdGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${mathThirdGradeFirstSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${mathSecondGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${mathSecondGradeFirstSemester}"></td>
                    <th style="width: 16%">봉사활동 시간</th>
                    <td style="text-align: right; padding-right: 10px">
                        <span style="margin-right: 5px" th:text="${volunteerTime}"></span>시간
                    </td>
                </tr>
                <tr>
                    <th style="width: 11%; height: 29px">과학</th>
                    <td style="width: 15.25%; height: 29px" th:text="${scienceThirdGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${scienceThirdGradeFirstSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${scienceSecondGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${scienceSecondGradeFirstSemester}"></td>
                    <th colspan="2" style="height: 29px; width: 28%">가산점</th>
                </tr>
                <tr>
                    <th style="width: 11%; height: 29px" th:text="${applicationCase}"></th>
                    <td style="width: 15.25%; height: 29px" th:text="${techAndHomeThirdGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${techAndHomeThirdGradeFirstSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${techAndHomeSecondGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${techAndHomeSecondGradeFirstSemester}"></td>
                    <th style="width: 16%">DSM알고리즘대회</th>
                    <td th:text="${hasCompetitionPrize}"></td>
                </tr>
                <tr>
                    <th style="width: 11%; height: 29px">영어</th>
                    <td style="width: 15.25%; height: 29px" th:text="${englishThirdGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${englishThirdGradeFirstSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${englishSecondGradeSecondSemester}"></td>
                    <td style="width: 15.25%; height: 29px" th:text="${englishSecondGradeFirstSemester}"></td>
                    <th style="width: 16%">정보처리기능사</th>
                    <td th:text="${hasCertificate}"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table
                    style="border-collapse: collapse; margin-top: -1px; width: 100%"
            >
                <tr>
                    <td style="width: 72%">
                        <p style="font-size: larger; width: fit-content; padding: 20px">
                            본인은 귀 고등학교에 입학하고자 소정의 서류를 갖추어
                            지원합니다.
                        </p>
                        <p
                                style="
                    font-size: medium;
                    text-align: center;
                    word-spacing: 16px;
                    margin-bottom: 10px;
                  "
                        >
                            <span style="margin-right: 4px" th:text="${year}"></span>년 <span style="margin-right: 4px" th:text="${month}"></span>월
                            <span style="margin-right: 4px" th:text="${day}"></span>일
                        </p>
                        <div style="font-size: larger; text-align: center; margin-bottom: 20px">
                            <div>
                                <span style="display: inline-block; width: 75px; text-align: right;">지원자:</span>
                                <span style="display: inline-block; width: 75px; text-align: center;">
                                    <span style="font-size: medium;" th:text="${userName}"></span>
                                </span>
                                                        <span style="display: inline-block; width: 100px; text-align: left; font-size: small;">
                                    (서명 또는 인)
                                </span>
                                                    </div>
                                                    <div>
                                                        <span style="display: inline-block; width: 75px; text-align: right;">보호자:</span>
                                                        <span style="display: inline-block; width: 75px; text-align: center;">
                                    <span style="font-size: medium;" th:text="${parentName}"></span>
                                </span>
                                                        <span style="display: inline-block; width: 100px; text-align: left; font-size: small;">
                                    (서명 또는 인)
                                </span>
                            </div>
                        </div>
                        <p
                                style="
                    font-size: large;
                    font-weight: 600;
                    margin-bottom: 10px;
                    text-align: left;
                    padding-left: 10px;
                  "
                        >
                            대덕소프트웨어마이스터고등학교장 귀하
                        </p>
                    </td>
                    <td style="width: 28%">
                        <p
                                style="
                    font-size: larger;
                    width: fit-content;
                    padding-left: 10px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    word-spacing: 4px;
                  "
                        >
                            보훈번호 : <span style="font-size: medium" th:if="${#strings.isEmpty(veteransNumber) == true}">(</span><span style="font-size: medium; margin-left: 80px" th:if="${#strings.isEmpty(veteransNumber) == true}">)</span><span style="font-size: medium" th:if="${veteransNumber != null and #strings.isEmpty(veteransNumber) == false}" th:text="${veteransNumber}"></span>
                        </p>
                        <p
                                style="
                    font-size: larger;
                    width: fit-content;
                    padding-left: 10px;
                    text-align: left;
                    margin-bottom: 6px;
                  "
                        >
                            위 학생은 국가유공자자녀임을 확인함.
                        </p>
                        <p
                                style="
                    font-size: medium;
                    text-align: center;
                    word-spacing: 16px;
                    margin-bottom: 26px;
                  "
                        >
                            <span style="margin-right: 4px" th:if="${veteransNumber != null and #strings.isEmpty(veteransNumber) == false}" th:text="${year}"></span>년 <span style="margin-right: 4px" th:if="${veteransNumber != null and #strings.isEmpty(veteransNumber) == false}" th:text="${month}"></span>월
                            <span style="margin-right: 4px" th:if="${veteransNumber != null and #strings.isEmpty(veteransNumber) == false}" th:text="${day}"></span>일
                        </p>
                        <span style="font-size: medium">교사:</span>
                        <span style="font-size: medium; margin-left: 15px" th:if="${veteransNumber != null and #strings.isEmpty(veteransNumber) == false}" th:text="${teacherName}"></span>
                        <span style="margin-left: 15px; font-size: small"
                        >(서명 또는 인)</span
                        >
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table
                    style="border-collapse: collapse; margin-top: -1px; width: 100%"
            >
                <td>
                    <p
                            style="
                  font-size: x-large;
                  word-spacing: 46px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                "
                    >
                        추 천 서
                    </p>
                    <p style="font-size: medium; padding-bottom: 10px">
                        본 입학원서의 내용은 사실과 다름이 없으며, 위 학생은 귀교에 입학
                        적격자로 인정되므로 추천합니다.
                    </p>
                    <p
                            style="
                  font-size: medium;
                  text-align: center;
                  word-spacing: 16px;
                  margin-bottom: 10px;
                "
                    >
                        <span style="margin-right: 4px" th:text="${year}"></span>년 <span style="margin-right: 4px" th:text="${month}"></span>월
                        <span style="margin-right: 4px" th:text="${day}"></span>일
                    </p>
                    <p style="font-size: large; text-align: center">
                        <span style="font-size: large" th:text="${schoolName}"></span><span style="word-spacing: 16px; font-size: large;">장 (직인)</span>
                    </p>
                    <p
                            style="
                  font-size: large;
                  font-weight: 600;
                  margin-bottom: 10px;
                  text-align: left;
                  padding-left: 10px;
                  padding-top: 24px;
                "
                    >
                        대덕소프트웨어마이스터고등학교장 귀하
                    </p>
                </td>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table
                    style="border-collapse: collapse; margin-top: -1px; width: 100%"
            >
                <tr>
                    <th style="width: 11%; height: 30px">원서작성자</th>
                    <td style="width: 50%">
                        <span style="font-size: medium">교사:</span>
                        <span style="font-size: medium; margin: 40px" th:text="${teacherName}"></span>
                        <span style="margin-left: 40px; font-size: small"
                        >(서명 또는 인)</span
                        >
                    </td>
                    <th style="width: 11%; height: 30px">연락처</th>
                    <td style="width: 28%; text-align: center" th:text="${teacherTel}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
